.portfolio-content .section-title {
  color: #ffff;
}

.work-list {
  margin-top: 100px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  /* margin-top: 50px; */
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
  grid-gap: 30px;
  margin-top: 50px;
}

.work {
  border-radius: 6px;
  position: relative;
  overflow: hidden;
  margin-left: 20px;
  margin-right: 20px;
  
}

.work img {
  width: 100%;
  height: 250px;
  border-radius: 6px;
  display: block;
  transition: transform 0.5s;
}

.layer {
  width: 100%;
  height: 0;
  background: linear-gradient(rgba(0, 0, 0, 0.6), #202156);
  border-radius: 6px;
  position: absolute;
  left: 0;
  bottom: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 40px;
  text-align: center;
  font-size: 14px;
  transition: height 0.5s;
}

.layer h3 {
  margin-bottom: 20px;
  color: #fff;
  font-family: "Raleway", sans-serif;
  font-weight: 600;
}

.layer p {
  color: #fff;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}

.layer a {
  margin-top: 20px;
  color: #202156;
  text-decoration: none;
  font-size: 14px;
  background: #fff;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.work:hover img {
  transform: scale(1.1);
}
.work:hover .layer {
  height: 100%;
}

.portfolio-content .seemore {
  display: flex;
  justify-content: center;
  margin-top: 80px;
}

.btn {
  width: fit-content;
  border: 1px solid #7b828c;
  background: #202156;
  padding: 14px 50px;
  border-radius: 6px;
  text-decoration: none;
  color: #fff;
  transition: background 0.5s;
}
.btn:hover {
  background: #130f40;
}
